body {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	margin: 0; 
	background-color: #581845;
	color: white;
}

.btn-main {
	padding: 20px;
	margin: 20px;
	font-size: 2em;
	background-color: #777777;
	transition: .3s; 
}

h2 {
	font-size: 3em;
	margin-top: 200px;
	color: #FF5733;
}

.labels {
	margin-bottom: 110px;
	font-size: 1.5em;
}

.container span {
	margin-bottom: 40px;
}

button i.fa {
	font-size: 6em;
}

.badge-game {
	padding: 10px;
	font-size: 1.5em;
	background-color: #FF5733;
	color: white;
	margin: 30px 10px;
}

.label-default {
	background: none;
	border: 1px dashed white;
}

.btn-new{
	padding: 15px 30px;
	font-size: 2em;
	background-color: #FF5733;
	border: 0;
	color: white;
	transition: .3s;
}

.text {
	margin-top: 40px;
	font-size: 4em;
	color:#FF5733;
}
